
  <!-- Ready Queue Sounds -->
  <!--
  <mat-card>
    <mat-card-title>
      <span class="mat-inline">Ready Queue</span>
        <button type="button" (click)="stop()" *ngIf="stopButton" [disabled]="!playing" mat-icon-button>
            <mat-icon>stop_circle_outline</mat-icon>
        </button>
    </mat-card-title>
    <mat-card-content>
        <mat-divider></mat-divider>
        <span *ngFor="let audio of this.readyAudioEntries">
        <button
          (click)="playAudio(audio.source)"
          mat-raised-button
          color="{{audio.color ? audio.color : 'primary'}}">
          <img *ngIf="audio.icon" src="assets/images/{{audio.icon}}">{{audio.label}}</button>
        </span>
    </mat-card-content>
  </mat-card>
  -->

  <ready-queue [editable]="true"></ready-queue>

  <mat-card>
    <mat-card-title>
      <span>Sounds</span>
    </mat-card-title>
    <mat-card-content>
        <div *ngFor="let group of audioGroups">
          <br/>
          <mat-divider class="mat-elevation-z1"></mat-divider>
          <div class="divider-gap1"><img *ngIf="group.icon" src="assets/images/{{group.icon}}">
            {{group.category}}
            <button type="button" (click)="stop()" *ngIf="stopButton" [disabled]="!playing" mat-icon-button>
              <mat-icon>stop</mat-icon>
            </button>
          </div>
          <br/>
          <span *ngFor="let audio of groupAudio(group.category)">
            <button
              (click)="playAudio(audio.source)"
              mat-raised-button
              color="{{audio.color ? audio.color : 'primary'}}">
            <img *ngIf="audio.icon" src="assets/images/{{audio.icon}}">{{audio.label}}</button>
          </span>
        </div>
    </mat-card-content>
  </mat-card>
