<!--
    class="... mat-toolbar-row class="notification-container mat-toolbar-row"
-->
<mat-toolbar class="app-toolbar no-print mat-toolbar mat-primary" color="primary">
    <mat-toolbar-row class="notification-container mat-toolbar-row">
        <span><img class="toolbar-icon" alt="Angular Soundbaord Logo" src="assets/images/logo.png"></span>
        <span>{{ title }}</span>
        <span class="toolbar-spacer"></span>
        <span>
            <button mat-button [routerLink]="['/playerboard']" routerLinkActive="mat-accent" color="secondary">Player Board</button>
            <button mat-button [routerLink]="['/tabbedboard']" routerLinkActive="mat-accent" color="secondary">Tabbed Board</button>
            <button mat-button [routerLink]="['/chain']" routerLinkActive="mat-accent" color="secondary">Chain Player</button>
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="content">
    <router-outlet></router-outlet>
</div>
