mat-card.mat-card {
    margin-bottom: 16px;
}

mat-card-content > mat-form-field {
    margin-top: 10px;
}

mat-card-title > span {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 10px;
}

mat-card-content mat-button {
    display: inline-flex;
    vertical-align: middle;
}

mat-card-content mat-chip {
    margin-right: 10px;
    display: inline-flex;
    vertical-align: middle;
}

mat-form-field {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.mat-option-img {
    vertical-align: middle;
    margin-right: 8px;
}

mat-card-title > mat-icon {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 8px;
}

.vertical-divider {
    vertical-align: middle;
    border-top-width: 0;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #e0e0e0;
    height: 100%;
    margin-left: 8px;
    margin-right: 8px;
}