  <audio #audioplayer
    [src]="source"
    [autoplay]="autoplay"
    [controls]="controls"
    [volume]="volume"
    [loop]="loop"
    [preload]="preload"
    [muted]="muted"
    >
  </audio>

  <!-- Ready Queue Sounds -->
  <mat-card>
    <mat-card-title>
      <span class="mat-inline">Ready Queue</span>
        <button type="button" (click)="pause()" class="mat-small" *ngIf="pauseButton" mat-icon-button>
            <mat-icon>stop_circle_outline</mat-icon>
        </button>
        <button type="button" (click)="playAudio('Fart.mp3')" class="mat-small" *ngIf="poopButton" mat-button color="secondary">
          <mat-icon svgIcon="poo-pile"></mat-icon>
        </button>
    </mat-card-title>
    <mat-card-content>
        <mat-divider></mat-divider>
        <span *ngFor="let audio of this.readyAudioEntries">
        <button
          (click)="playAudio(audio.source)"
          *ngIf="playButton"
          mat-raised-button
          color="{{audio.color ? audio.color : 'primary'}}">
          <img *ngIf="audio.icon" src="assets/images/{{audio.icon}}">{{audio.label}}</button>
        </span>
    </mat-card-content>
  </mat-card>

  <!-- Other, Non-Ready Queue Sounds -->
  <mat-card>
    <mat-card-title>
      <span>Office</span>
      <button type="button" (click)="pause()" class="mat-small" *ngIf="pauseButton" mat-icon-button>
        <mat-icon>stop_circle_outline</mat-icon>
      </button>
      <button type="button" (click)="playAudio('Fart.mp3')" class="mat-small" *ngIf="poopButton" mat-button color="secondary">
        <mat-icon svgIcon="poo-pile"></mat-icon>
      </button>
    </mat-card-title>

    <mat-card-content>
      <mat-divider></mat-divider>
      <mat-tab-group [(selectedIndex)]="selectedTab">
        <mat-tab *ngFor="let group of this.audioGroups" label="{{group.label ? group.label : group.category}}">
          <ng-template mat-tab-label>
            <img *ngIf="group.icon" src="assets/images/{{group.icon}}" class="matTabIcon">
            {{group.category}}
          </ng-template>
          <span *ngFor="let audio of groupAudio(group.category)">
            <button
              (click)="playAudio(audio.source)"
              *ngIf="playButton"
              mat-raised-button
              color="{{audio.color ? audio.color : 'primary'}}">
              <img *ngIf="audio.icon" src="assets/images/{{audio.icon}}">
              {{audio.label}}
            </button>
            <span *ngIf="audio.divider === true"><br/><mat-divider></mat-divider></span>
          </span>

          <!-- Testing -->
          <!--
          <span>
            <button
              (click)="playAudioMultiple(['Shh.mp3', 'Hello.mp3', 'BaDumTss.mp3'])"
              *ngIf="playButton"
              mat-raised-button
              color="primary">
              Play Multiple
            </button>
          </span>
          -->
          <!-- End Testing -->
        </mat-tab>

        <!--
        <mat-tab label="Two">
          <ng-template mat-tab-label>
            <img *ngIf="audio.pngicon" src="assets/images/{{audio.pngicon}}">
            First {{audio.label}}
          </ng-template>
          Content 1 (buttons here)
        </mat-tab>
        -->
      </mat-tab-group>
    </mat-card-content>
  </mat-card>

<!--
  <mat-card *ngFor="let group of this.audioEntries">
    <mat-card-title>
      <span>{{group.name}}</span>
        <button type="button" (click)="pause()" class="mat-small" *ngIf="pauseButton" mat-button color="secondary">
            <mat-icon svgIcon="stop-button"></mat-icon>
        </button>
        <button type="button" (click)="playAudio('Fart.mp3')" class="mat-small" *ngIf="poopButton" mat-button color="secondary">
          <mat-icon svgIcon="poo-pile"></mat-icon>
        </button>
    </mat-card-title>
    <mat-card-content>
        <mat-divider></mat-divider>
        <span *ngFor="let audio of group.audio">
        <button
          (click)="playAudio(audio.src)"
          *ngIf="playButton"
          mat-raised-button
          color="{{audio.color}}">
          <img *ngIf="audio.pngicon" src="assets/images/{{audio.pngicon}}">{{audio.label}}</button>
          <span *ngIf="audio.divider === true"><br/><mat-divider></mat-divider></span>
        </span>
    </mat-card-content>
  </mat-card>
-->